<form action="">
  <div class="input-group">
    <label for="initial-Investment">Intial Investment</label>
    <input type="initial-Investment" id="initial-Investment" />
    <label for="Annual-Investment">Annual Investment</label>
    <input type="Annual-Investment" id="Annual-Investment" />
    <label for="Expected-Investment">Expected Investment</label>
    <input type="Expected-Investment" id="Expected-Investment" />
    <label for="Duration-Investment">Duration Investment</label>
    <input type="Duration-Investment" id="Duration-Investment" />
  </div>
  <button>Calculate</button>
</form>
